body {
    color: rgb(243, 107, 48);
    background-color: rgb(237, 59, 160);
    font-family: Arial;
}

ul{
   display: flex; 
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 16px;
}